
[user]
	name = y.urakawa
	email = s08a2015@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
[push]
	default = simple
[alias]
	st = status
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
