[user]
  name = y.urakawa
  email = s08a2015@gmail.com
  signingkey = 31785144A10EFABB57C341DE4167E1C3A2DBEE2D
[core]
  excludesfile = ~/.gitignore_global
  editor = /usr/bin/vim
[url "git@github.com:"]
  insteadOf = https://github.com/
[push]
  default = current
[alias]
  #aicommit = "!f() { COMMIT_MSG=$(claude -p 'Generate ONLY a one-line Git commit message in English, using imperative mood, summarizing what was changed and why, based strictly on the contents of `git diff --cached`. Do not add explanation or a body. Output only the commit summary line.'); git commit -m \"$COMMIT_MSG\" -e; }; f"
  aicommit = "!f() { COMMIT_MSG=$(copilot -p 'Generate ONLY a one-line Git commit message in English (max 72 chars) based on `git diff --cached`, using Conventional Commits format (e.g., feat:, fix:), imperative mood, and summarizing both the change and its inferred intent without any preamble or backticks.'); git commit -m \"$COMMIT_MSG\" -e; }; f"
  dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
  unstage = reset -q HEAD --
  discard = checkout --
  nevermind = !git reset --hard HEAD && git clean -d -f
  uncommit = reset --mixed HEAD~
  save = commit -m
  resave = commit --amend
  invert = revert
  last = log -1 HEAD --format=format:"%Cred%H"
  summary = status -u -s
  graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
  history = log -10 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
  branchout = checkout -b
  tags = tag
  branches = branch -a
  stashes = stash list
  remotes = remote -v
  prestage = diff -w --word-diff=color
  precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
  move = mv
  remove = rm
  unmerged = branch --no-merged
  unstash = stash pop
  what = show -w
  untrack = rm -r --cached
  rewrite = rebase -i
  amend = commit --amend -S
  back = checkout "-"
  contributors = shortlog -s -n
  filetrail = log --follow -p -w
  mergetrail = log --ancestry-path --merges
  unmerged = diff --name-only --diff-filter=U
  push-f = push --force-with-lease --force-if-include
[pager]
#  log = diff-highlight | less
#  show = diff-highlight | less
#  diff = diff-highlight | less
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[ghq]
    root = ~/go/src
[gpg]
	program = gpg
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
    insteadOf = https://github.com/
[commit]
	gpgsign = true
